FIBERGENIUS_SECRET_KEY=REEMPLAZAR_POR_UN_VALOR_ALEATORIO_LARGO
FIBERGENIUS_DEBUG=false
FIBERGENIUS_ALLOWED_HOSTS=fiber-genius-lab-178-238-230-173.sslip.io,localhost,127.0.0.1
FIBERGENIUS_CSRF_TRUSTED_ORIGINS=https://fiber-genius-lab-178-238-230-173.sslip.io
FIBERGENIUS_SECURE_COOKIES=true
FIBERGENIUS_DEMO_DB=/data/fibergenius.sqlite3
FIBERGENIUS_VERSION=RC2 GUI 0.5.0
FIBERGENIUS_OPERATIONS_UI_ENABLED=false
FIBERGENIUS_MAP_TILE_LIGHT=https://{s}.basemaps.cartocdn.com/rastertiles/voyager/{z}/{x}/{y}{r}.png
FIBERGENIUS_MAP_TILE_DARK=https://{s}.basemaps.cartocdn.com/dark_all/{z}/{x}/{y}{r}.png
FIBERGENIUS_MAP_TILE_SATELLITE=https://server.arcgisonline.com/ArcGIS/rest/services/World_Imagery/MapServer/tile/{z}/{y}/{x}
FIBERGENIUS_MAP_ATTRIBUTION=&copy; CARTO / Esri

# Opcional: solo para crear el primer administrador. Retire estos valores después.
DJANGO_SUPERUSER_USERNAME=
DJANGO_SUPERUSER_EMAIL=
DJANGO_SUPERUSER_PASSWORD=
