# Plantilla: copiar fuera del repositorio y completar en el servidor de pruebas.
SECRET_KEY=
DEBUG=False
ALLOWED_HOSTS=localhost,127.0.0.1
CSRF_TRUSTED_ORIGINS=https://localhost

DB_NAME=fibergenius_bhp_pruebas
DB_USER=fibergenius_app
DB_PASSWORD=
DB_HOST=127.0.0.1
DB_PORT=5432

VEEX_ENABLED=False
VEEX_API_URL=
VEEX_API_USER=
VEEX_API_PASS=
VEEX_TLS_VERIFY=True
VEEX_CA_BUNDLE=
FIBERGENIUS_WEBHOOK_SECRET=

MEDICIONES_API_URL=
MEDICIONES_API_USER=
MEDICIONES_API_PASSWORD=
EVENTOS_API_URL=
EVENTOS_API_USER=
EVENTOS_API_PASSWORD=
MEDICION_INDIVIDUAL_API_URL=
MEDICION_INDIVIDUAL_API_USER=
MEDICION_INDIVIDUAL_API_PASSWORD=
ONMSI_TLS_VERIFY=True
ONMSI_CA_BUNDLE=
RUTA_CARPETAS_ENLACES=
FIBERGENIUS_VERSION=RC2 GUI 0.5.0
FIBERGENIUS_OPERATIONS_UI_ENABLED=false
# Para una red sin Internet, reemplace estas URLs por su servidor interno de teselas.
FIBERGENIUS_MAP_TILE_LIGHT=https://{s}.basemaps.cartocdn.com/rastertiles/voyager/{z}/{x}/{y}{r}.png
FIBERGENIUS_MAP_TILE_DARK=https://{s}.basemaps.cartocdn.com/dark_all/{z}/{x}/{y}{r}.png
FIBERGENIUS_MAP_TILE_SATELLITE=https://server.arcgisonline.com/ArcGIS/rest/services/World_Imagery/MapServer/tile/{z}/{y}/{x}
